.line {
    @media(min-width: rem(320)) {
        position: relative;
        display: flex;
        align-items: center;
    
        &__el {
            width: 100%;
            height: rem(3);
            background-color: $color-text;
            border-radius: rem(3);
        }
    
        svg {
            position: absolute;
            display: block;
            left: rem(40);
            width: max-content;
            text-align: center;
            background-color: var(--color-bg);
            padding: 0 rem(5);
            z-index: 1;
        }
    }

    @media(min-width: rem(1024)) {
        svg {
            left: 46.1%;
        }
    }
}