.line {
    @media(min-width: rem(320)) {
        position: relative;
        display: flex;
        align-items: center;
    
        &__el {
            width: 100%;
            height: rem(3);
            background-color: $color-text;
            border-radius: rem(3);
        }
    
        span {
            position: absolute;
            left: rem(40);
            width: max-content;
            font-family: 'Neutral Face';
            text-transform: uppercase;
            font-weight: 700;
            font-size: rem(10);
            letter-spacing: rem(0.7);
            text-align: center;
            background-color: var(--color-bg);
            padding: 0 rem(5);
            z-index: 1;
        }
    }

    @media(min-width: rem(1024)) {
        span {
            left: 40%;
        }
    }
}