// Перевод пикселей в rem (база 16px)
@function rem($pixels, $context: 16) {
  @return ($pixels / $context) * 1rem;
}

@mixin font-face($font-family, $dir, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$dir}/#{$url}.woff2') format('woff2'),
         url('../fonts/#{$dir}/#{$url}.woff') format('woff');
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}