// Цвета проекта
$color-text: #070707;
$color-bg: #E4E8F9;
$color-white: #fff;
$color-error: #c00;
$color-ticker-bg: brown;
$color-accent: #FC4243;
$color-accent-coral: #F9575A;
$color-form-bg: #D6C7EA;
$color-success: #34c759;
$color-gradient-start: #585bf4;
$color-gradient-end: #fa6b6b;
